@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                  <h1>About</h1>
            </hgroup>
        </div>
    </section>
    }
    <ul>Tic-Tac-Toe is the online incarnation of the age old Tic-Tac-Toe (a.k.a. Noughts and crosses, Xs and Os).</ul>